body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #87cefa;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: aquamarine;
  align-items: flex-end;
  box-shadow: 5px 0px 15px 1px lightslategray;
}

header .titulo {
  margin-left: 10rem;
  align-self: first baseline;
  align-items: center;
  width: 100%;
}

.dropdown button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
nav {
  background-color: lightgray;
  box-shadow: 5px 0px 15px 1px lightslategray;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-content li {
  border-bottom: 0.5px solid black;
}

.dropdown-content {
  margin-top: -20px;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  background-color: lightgray;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 15;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
.contenedor-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inicio-sesion {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  text-align: center;
  margin: 25px;
  padding: 10px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 20px;
}

.item img {
  box-shadow: 5px 0px 15px 1px lightslategray;
}

.item p {
  font-size: 30px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 0px 15px 1px lightslategray;
}

.item-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton-con button{
  background-color: lightseagreen; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  cursor: pointer;
}
