body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: aquamarine;
  align-items: flex-end;
  box-shadow: 5px 0px 15px 1px lightslategray;
}

header .titulo {
  margin-left: 10rem;
  align-self: first baseline;
  align-items: center;
  width: 100%;
}
.fecha {
  align-self: flex-end;
  align-items: flex-end;
}
.dropdown button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
nav {
  background-color: lightgray;
  box-shadow: 5px 0px 15px 1px lightslategray;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-content li {
  border-bottom: 0.5px solid black;
}

.dropdown-content {
  margin-top: -20px;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  background-color: lightgray;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 15;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
.contenedor-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inicio-sesion {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-main h1 {
  text-align: center;
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.miembro {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  height: fit-content;
  box-shadow: 5px 0px 15px 1px lightslategray;
}
.miembro h3 {
  font-size: 30px;
}

.miembro img {
  max-width: 450px;
  max-height: 900px;
}

.miembro:nth-child(1) {
  grid-column: span 2;
  height: 450px;
}
.miembro:nth-child(3) {
  grid-column: span 2;
}
.miembro:nth-child(4) {
  grid-column: span 1;
  width: 450px;
}
