body {
  display: block;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: aquamarine;
  align-items: flex-end;
  box-shadow: 5px 0px 15px 1px lightslategray;
}

header .titulo {
  margin-left: 10rem;
  align-self: first baseline;
  align-items: center;
  width: 100%;
}
.fecha {
  align-self: flex-end;
  align-items: flex-end;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: inherit;
  background-color: lightskyblue;
}

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.titulo img {
  max-width: 500px;
  max-height: 400px;
}

.texto {
  margin-top: 200px;
  margin-right: 50px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 5px 0px 15px 1px lightslategray;

}
.contenido p {
  text-align: center;
  font-size: 2rem;
}
.contenido:nth-child(3) {
  grid-column: span 2;
  align-items: center;
}

.reviews h4 {
  text-align: center;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1fr;
}
.estrellas {
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: 2rem;
}

.contenido {
  align-items: center;
}

.dropdown button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
nav {
  background-color: lightgray;
  box-shadow: 5px 0px 15px 1px lightslategray;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-content li {
  border-bottom: 0.5px solid black;
}

.dropdown-content {
  margin-top: -20px;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  background-color: lightgray;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 15;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
.contenedor-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inicio-sesion {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
